<p id="notice"><%= notice %></p>

<p>
  <strong>Nazwa:</strong>
  <%= @team.nazwa %>
</p>

<p>
  <strong>Opis:</strong>
  <%= @team.opis %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
